/*@import url("/home/cyme/.cache/wallust/colors.css");*/


@define-color background-transparent rgba(69, 71, 90, 0.8);
@define-color background #313244;
@define-color foreground #cdd6f4;
@define-color blue #89b4fa;
@define-color green #a6e3a1;
@define-color lavender #b4befe;
@define-color red #f38ba8;
@define-color peach #fab387;
@define-color mauve #cba6f7;
@define-color surface0 #313244;
@define-color teal #94e2d5;
@define-color yellow #f9e2af;
@define-color sapphire #74c7ec;
@define-color maroon #eba0ac;





* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "CaskaydiaCove Nerd Font";
    font-size: 13px;
    min-height: 0px;
    margin: 1px;
    padding: 0px;
}




window#waybar {
	background-color: transparent;
    transition-property: background-color;
    transition-duration: .5s;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}








#workspaces{
	padding-left: 5px;
	padding-right: 5px;
  border-radius: 20px;
  background-color: @surface0;
}

#workspaces button {
	margin: 0px;
	color: @foreground;
  background-color: @surface0;
}


#workspaces button.focused {
  color: @blue;
  border-radius: 20px;
}

#workspaces button.active{
  color: @red;
  border-radius: 20px;
  margin: 0px;
  padding: 0px;
  padding-top: 0px;
  padding-left: 5px;
	padding-right: 5px;
}


#workspaces button.urgent{
  color: @red;
  border-radius: 20px;
}





#clock,
#battery,
#backlight,
#tray,
#idle_inhibitor,
#power-profiles-daemon,
#custom-cava,
#custom-notify,
#network,
#cpu,
#memory,
#temperature,
#mpd {
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
}

#tray {
  background-color: @surface0;
}

#idle_inhibitor {
  color: @red;
  padding-left: 20px;
}

#custom-cava{
	background-color: @surface0;
  color: @mauve;
}



#custom-notify{
  padding-right: 12px;
  padding-left: 12px;
  color: @lavender;
  background-color: @surface0;
}

#clock {
  color: @blue;
}

#right {
	background-color: @surface0;
	border-radius: 20px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}

#power-profiles-daemon {
  color: @green;
}



@keyframes blink {
    to {
      color: @red;
    }
}


#battery{
  color: @teal;
}

#battery.plugged{
  color: @sapphire;
}

#battery.charging,
#battery.good{
  color: @green;
}

#battery.warning{
  color: @peach;
}

#battery.warning{
  color: @red;
}



#network {
  color: @green;
}

#temperature {
  color: @yellow;
}

#memory {
  color: @maroon;
}

#cpu {
  color: @mauve;
}



#battery.critical:not(.charging) {
    color: @foreground;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


#pulseaudio-slider {
}



#pulseaudio-slider slider {
    min-height: 30px;
    min-width: 20px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
    background-color: @background;
}
#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 100px;
    border-radius: 5px;
    background-color: @surface0;
}
#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 30px;
}


